USE [master]
GO
/****** Object:  Database [WebBanHangWWW]    Script Date: 07/04/2020 16:55:54 ******/
CREATE DATABASE [WebBanHangWWW]
GO
USE [WebBanHangWWW]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[maDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDanhMuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON
INSERT [dbo].[DanhMuc] ([maDanhMuc], [tenDanhMuc]) VALUES (1, N'Áo Phông Nam')
INSERT [dbo].[DanhMuc] ([maDanhMuc], [tenDanhMuc]) VALUES (2, N'Áo Thun')
INSERT [dbo].[DanhMuc] ([maDanhMuc], [tenDanhMuc]) VALUES (3, N'Áo Sơ Mi')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[tenNhaCungCap] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [diaChi], [tenNhaCungCap]) VALUES (1, N'Số 3 phường 12,Ninh Hòa,Khánh Hòa,Việt Nam', N'Shop Quần Áo Nam KH')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [diaChi], [tenNhaCungCap]) VALUES (2, N'Số 12 phường 7,Ninh Hòa,Khánh Hòa,Việt Nam', N'Trung Tâm Quần Áo Nam KH')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [diaChi], [tenNhaCungCap]) VALUES (3, N'Số 9 phường 11,Ninh Hòa,Khánh Hòa,Việt Nam', N'Nhà Phân Phối Quần Áo')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [varchar](255) NOT NULL,
	[matKhau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [matKhau]) VALUES (N'hoang', N'123')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [matKhau]) VALUES (N'khachhang', N'123')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [matKhau]) VALUES (N'nhat', N'123')
/****** Object:  Table [dbo].[SanPham]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [int] IDENTITY(1,1) NOT NULL,
	[donGia] [float] NOT NULL,
	[donViTinh] [nvarchar](255) NOT NULL,
	[moTa] [nvarchar](255) NOT NULL,
	[ngaySanXuat] [datetime] NULL,
	[soLuongNhap] [int] NOT NULL,
	[tenSanPham] [nvarchar](255) NOT NULL,
	[trangThai] [varchar](255) NULL,
	[urlHinh] [varchar](255) NULL,
	[MADANHMUC] [int] NULL,
	[MANHACUNGCAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON
INSERT [dbo].[SanPham] ([maSanPham], [donGia], [donViTinh], [moTa], [ngaySanXuat], [soLuongNhap], [tenSanPham], [trangThai], [urlHinh], [MADANHMUC], [MANHACUNGCAP]) VALUES (1, 250000, N'Chiếc', N'Áo phông dành cho nam tuyệt đẹp giá siêu rẻ', CAST(0x0000AB2100000000 AS DateTime), 0, N'Áo Phông Nam AP1', N'true', N'./resources/img/AP1.jpg', 1, 1)
INSERT [dbo].[SanPham] ([maSanPham], [donGia], [donViTinh], [moTa], [ngaySanXuat], [soLuongNhap], [tenSanPham], [trangThai], [urlHinh], [MADANHMUC], [MANHACUNGCAP]) VALUES (2, 250000, N'Chiếc', N'Áo phông dành cho nam tuyệt đẹp giá siêu rẻ', CAST(0x0000AB2100000000 AS DateTime), 300, N'Áo Phông Nam AP2', N'true', N'./resources/img/AP2.jpg', 1, 1)
INSERT [dbo].[SanPham] ([maSanPham], [donGia], [donViTinh], [moTa], [ngaySanXuat], [soLuongNhap], [tenSanPham], [trangThai], [urlHinh], [MADANHMUC], [MANHACUNGCAP]) VALUES (3, 250000, N'Chiếc', N'Áo phông dành cho nam tuyệt đẹp giá siêu rẻ', CAST(0x0000AB2100000000 AS DateTime), 300, N'Áo Phông Nam AP3', N'true', N'./resources/img/AP3.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
/****** Object:  Table [dbo].[NguoiQuanLy]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiQuanLy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[ngaySinh] [datetime] NULL,
	[soCMND] [nvarchar](255) NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[tenQuanLy] [nvarchar](255) NULL,
	[trangThai] [nvarchar](255) NULL,
	[TENTAIKHOAN] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_ekgjakgfbhlpv3nqrv43tguo6] UNIQUE NONCLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[ngaySinh] [datetime] NULL,
	[soCMND] [nvarchar](255) NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[tenKhachHang] [nvarchar](255) NULL,
	[trangThai] [nvarchar](255) NULL,
	[TENTAIKHOAN] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_h6ahhdyaiqi2mc6jutx0igdwy] UNIQUE NONCLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([maKhachHang], [diaChi], [email], [ngaySinh], [soCMND], [soDienThoai], [tenKhachHang], [trangThai], [TENTAIKHOAN]) VALUES (1, N'Ninh Hòa, Khánh Hòa', N'nguyenvanhoang34iuh@gmail.com', CAST(0x00008E8300000000 AS DateTime), N'23123455', N'0898367879', N'Nguyễn Văn Hoàng', N'true', N'hoang')
INSERT [dbo].[KhachHang] ([maKhachHang], [diaChi], [email], [ngaySinh], [soCMND], [soDienThoai], [tenKhachHang], [trangThai], [TENTAIKHOAN]) VALUES (2, N'Ninh Hòa, Khánh Hòa', N'huunhatiuh@gmail.com', CAST(0x00008E8300000000 AS DateTime), N'23123455', N'0898367878', N'Nguyễn Hữu Nhật', N'true', N'nhat')
INSERT [dbo].[KhachHang] ([maKhachHang], [diaChi], [email], [ngaySinh], [soCMND], [soDienThoai], [tenKhachHang], [trangThai], [TENTAIKHOAN]) VALUES (3, N'Ninh Hòa, Khánh Hòa', N'quocnguyeniuh@gmail.com', CAST(0x00008E8300000000 AS DateTime), N'23123455', N'0898367876', N'Nguyễn Đình Quốc', N'true', N'quoc')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[DonHang]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDonHang] [int] IDENTITY(1,1) NOT NULL,
	[ngayLap] [datetime] NULL,
	[MAKHACHHANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 07/04/2020 16:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MADONHANG] [int] NOT NULL,
	[MASANPHAM] [int] NOT NULL,
	[donGia] [float] NOT NULL,
	[soLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK6tkljmbht4nkw6t17rpa2mwk1]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK6tkljmbht4nkw6t17rpa2mwk1] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DanhMuc] ([maDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK6tkljmbht4nkw6t17rpa2mwk1]
GO
/****** Object:  ForeignKey [FKtjdx5vft2ly8fscsbapcx584a]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FKtjdx5vft2ly8fscsbapcx584a] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FKtjdx5vft2ly8fscsbapcx584a]
GO
/****** Object:  ForeignKey [FK4peeqx48scbh8ulr4pwjxcrgm]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[NguoiQuanLy]  WITH CHECK ADD  CONSTRAINT [FK4peeqx48scbh8ulr4pwjxcrgm] FOREIGN KEY([TENTAIKHOAN])
REFERENCES [dbo].[TaiKhoan] ([TenTaiKhoan])
GO
ALTER TABLE [dbo].[NguoiQuanLy] CHECK CONSTRAINT [FK4peeqx48scbh8ulr4pwjxcrgm]
GO
/****** Object:  ForeignKey [FKfmgsx56m3gjvrs5frjaphsb5w]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FKfmgsx56m3gjvrs5frjaphsb5w] FOREIGN KEY([TENTAIKHOAN])
REFERENCES [dbo].[TaiKhoan] ([TenTaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FKfmgsx56m3gjvrs5frjaphsb5w]
GO
/****** Object:  ForeignKey [FKo8c883jrtcfwel9e40y87r8v7]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FKo8c883jrtcfwel9e40y87r8v7] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FKo8c883jrtcfwel9e40y87r8v7]
GO
/****** Object:  ForeignKey [FKliuu6v788wxyhy31ybt0oly0k]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FKliuu6v788wxyhy31ybt0oly0k] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FKliuu6v788wxyhy31ybt0oly0k]
GO
/****** Object:  ForeignKey [FKr5xd0qr7lfvx6celx57baxxwb]    Script Date: 07/04/2020 16:55:55 ******/
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FKr5xd0qr7lfvx6celx57baxxwb] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FKr5xd0qr7lfvx6celx57baxxwb]
GO
